@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
 box-sizing: border-box;
  margin: 0;
}
html{
  scroll-behavior:smooth;
}

:root{
  --font-family:"Prompt",Tahoma,Sans-Serif;
  --main-color:RGB(204, 108, 60);
  --secondary-color:RGB(237,149,101);
  --main-color-rgba:204,108,60;
  --hover-color:RGBA(204,108,60,0.20);
  --s-color: #a7a9ac;
  --border:RGBA(189,189,189,0.40);
  --error-color:red;
  --success-color:#4CAF50;
  --warning-color:#FFC107;
}

body {
  margin: 0px;
  padding: 0;
  font-family:var(--font-family);
  display:flex;
  align-content: center;
  --webkit-align-content: center;
  flex-direction: column;
  background: #f7f8fc;
}

.flex_s, .flex_b, .flex_s_c, .flex_c, .flex_c_c, .flex_b_c, .flex_e, .flex_e_c, .flex_wrap{
  display:flex;
}
.flex_wrap{
  flex-wrap: wrap;
 
}
.flex_s, .flex_s_c{
  justify-content: flex-start;
  -webkit-justify-content:flex-start;
}
.flex_b, .flex_b_c{
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.flex_c, .flex_c_c{
  justify-content: center;
}
.flex_e, .flex_e_c{
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.flex_s_c, .flex_c_c, .flex_b_c, .flex_e_c{
  align-items: center; 
  -webkit-align-items: center;
}


.br4-a{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.br6-l-r{
  border-radius:6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}
.br6-a{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.br6-r{
  border-radius:0 6px 6px 0;
  -moz-border-radius:0 6px 6px 0;
  -webkit-border-radius:0 6px 6px 0;
}
.br6-l{
  border-radius:6px 0 0 6px;
  -moz-border-radius:6px 0 0 6px;
  -webkit-border-radius:6px 0 0 6px;
}
.br30-a{
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
.br60{
  border-radius: 60%;
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
}


.pdd5-a{padding: 5px;}
.pdd5-t{padding-top: 5px;}
.pdd5-b{padding-bottom:5px;}
.pdd5-b-t{padding:5px 0;}
.pdd5-l{padding-left:5px;}
.pdd5-r{padding-right:5px;}
.pdd5-l-r{padding:0 5px;}

.pdd10-a{padding: 10px;}
.pdd10-t{padding-top: 10px;}
.pdd10-b{padding-bottom:10px;}
.pdd10-b-t{padding:10px 0;}
.pdd10-l{padding-left:10px;}
.pdd10-r{padding-right:10px;}
.pdd10-l-r{padding:0 10px;}
.pdd4_10{padding:4px 20px;}
.pdd6_10{padding:6px 10px;}
.pdd8_25{padding:8px 25px;}
.pdd20_10{padding:20px 10px;}
.pdd10_25{padding:10px 25px;}
.pdd15-a{padding:15px;}

.marg5-a{margin: 5px;}
.marg5-t{margin-top: 5px;}
.marg5-b{margin-bottom:5px;}
.marg5-b-t{margin:5px 0;}
.marg5-l{margin-left:5px;}
.marg5-r{margin-right:5px;}
.marg5-l-r{margin:0 5px;}



.br60,.isBanned,
.avatar, .avatar img, .avatar div,.features_dots_header div,
.features_dots_bottom div,.features-icon,
.icon,.error .icon:after{
  border-radius: 60%;
  -moz-border-radius: 60%;
  -webkit-border-radius: 60%;
}
.inputs[type="checkbox"],.inputs[type="checkbox"]:before,
.form_wrap{
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
}

.pdd5_a{padding: 5px;}
.pdd5_t{padding-top: 5px;}
.pdd5_l_r{padding: 0 5px 0 5px;}
.pdd5_t_b{padding: 5px 0;}
.pdd10_a{padding: 10px;}
.pdd10_l_r{padding:10px;}
.pdd10_t_b{padding:10px 0;}
 .ellipsis{
  overflow:hidden;
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
  text-overflow:ellipsis;
}

.t_link{
  font-size: 0.87rem;
  padding: 0 25px;
}
.a_link_main{color: var(--main-color)!important;}
button{
  color: #ffffff;
  font-size: 0.9rem;
  border: none;
  outline: none;
  font-family:var(--font-family);
}
.btns{width:100%}

.main_btns{
  padding: 12px 15px;
  box-shadow:0 3px 3px RGBA(237,149,101,0.20);
}
.header-btn, .main_btns{
  user-select: none;
  -webkit-user-select:none;
  background-position: center;
  transition: background 0.8s;
}
.header-btn:hover,.main_btns:hover {
  background: var(--secondary-color) radial-gradient(circle, transparent 1%, var(--hover-color) 1%) center/15000%;
}
.header-btn:active,.main_btns:active {
  background-color: var(--secondary-color);
  background-size: 100%;
  transition: background 0s;
}

button,
.header-btn,
.main_btns,
.input_wrap,.input_wrap_textarea,
.min_input_amount,
.empty_card, .loader_card,
.a_action_li,.transactions_wrap,.selection,
.paymentmethodCard
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.package_card,
.communityCard,.i-radio-card{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}



.nav{
  display: flex;
  background: #fff;
  width: 100%;
  z-index: 400;
  height: 60px;
  position: fixed;
  align-items: center;
  justify-content: center;
  -webkit-align-items:center;
  -webkit-justify-content:center;
}

.nav_wrap{
  max-width:1024px;
  width: 100%;
  padding: 0 20px;
  height:100%;
  display: flex;
  -webkit-justify-content:space-between;
  justify-content: space-between;
}

.nav-right-conttents, .nav-center-contents, .nav-left-contents{
  width: max-content;
}

.nav-logo-card{
  display:flex;
  justify-content: center;
  height: 50px; 
  align-items: center;
}
.logo{
  
}
.logo >p{
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1.3rem;
}
.logo > p > span{
  color: var(-main-color);
}

.nav-btn{
  width: max-content;
  justify-content: center;
  text-align: center;
}

.nav-btn div{
  min-width: 30px;
  min-height:6px;
  margin: 5px 0;
  display: flex;
  transition: 0.2s;
  background: #1e1e23;
  position: relative;
}
.navActive.nav-menu{
  top:60px;
}
.navActive #btnLine2{
  transform: rotate(-45deg);
  margin-top:-11px;
  transition: 0.2s;
   background: #ddd;
}
.navActive #btnLine1{
  margin-top: 6px;
  background: #ddd;
  transition: 0.2s;
  transform: rotate(45deg);
}
.nav-menu{
  position: absolute;
  top: -110vh;
  height: 100vh; 
  left: 0;
  z-index:0;
  overflow: hidden;
  overflow-y: scroll;
  background: #fff;
  padding:0 0 100px 0;
  transition: 0.2s;
}

.a{
  text-decoration: none ;
  color: currentColor;
 }
 
.a.highlight{
  color: var(--main-color)!important;
}
.nav-menu-smaller{display: none;}
.nav-menu-smaller a{text-decoration: none ;}
.nav-menu div, .nav-menu-smaller div{
  text-indent:none;
  padding: 13px;
  font-weight:500;
  background: #fff;
  text-align: center;
}

.nav-menu-smaller a:last-child div, .nav-menu .last{
  background: var(--main-color) !important;
  color: #fff!important;
}
.nav-menu-smaller a:first-child div, .nav-menu .first{
  color:var(--secondary-color)!important;
}

.nav-menu a:hover div ,.nav-menu a.active div{
  background: #eee;
  color: var(--main-color);
}

a{cursor: none;}

@media screen and (min-width: 968px){
  .nav-btn{
    display:none;
  }
  .nav-menu{
    overflow: visible;
    overflow-y: visible;
    padding: 0;
    height: max-content;
  }
  nav_wrap{
    padding: 0;
  }
  .nav-menu, .nav-menu-smaller{
    position:static;
    width: max-content ;
    padding: 0;
    display:flex;
  }
  .nav-menu div{
    border-radius: 6px ; 
    padding: 10px;
    margin: 2px;
  }
 .nav-menu-smaller div{
    border-radius: 6px ; 
    padding: 10px 23px;
    margin-left: 5px;
 }
 a{cursor: default;}
 .hide{
    display: none;
 }
}


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding:120px 30px 50px 30px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  max-width: 1024px;
}

.description {
  color: var(--s-color);
  font-family: "roboto";
  line-height: 1.5;
  margin: 35px 0;
}
.heading{
  line-height: 1.2;
}
.heading span{
  color: var(--main-color);
  position: relative;
  z-index: 3;
}


.header-btn{
  color: #ffffff;
  border: none;
  padding: 15px;
  font-weight: 400;
}

.image {
  align-self: center;
  display: flex;
}
/***** loader *****/

.loader_heading {
    margin-bottom: 10px;
}

.loader_box {
    display: flex;
    height: 5px;
    max-width: 250px;
    background-color:rgba(100, 100, 255, 0.1);
    overflow: hidden;
}

.loader_bar {
    position: relative;
    height: 5px;
    width: 100px;
    background-color: var(--main-color);
    transform: translateX(0px);
    animation: loading 1.5s linear infinite;
}

.new_position {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    transition: 4s;
}

@keyframes loading {
    0% {
        left: -200px;
    }
    100% {
        left: 280px;
    }
}

@media screen and (min-width:1024px) { 
  .image {
    order: 1;
    width: 50%;
    max-width: 300px;
    width: 400px;
    display: inline;
    margin-left: 20px;
    align-self: flex-end!important;
  }
  .header-contents{
    padding: 25px;
  }
  .description{
    font-size: 1.4rem;
    margin-right: 20px;
  }
  .heading{
    font-size: 3rem;
  }
  .header-container {
    flex-direction: row;
    text-align: left;
  }
  .header-container svg{
    min-width: 500px;
  }
  .header-btn{
    width: max-content!important;
    padding:15px 30px ;
  }
  .header{
    max-height: 550px; 
    text-align: left;
  }
}


.sec_wrap, .sec_main{
  width: 100%;
  max-width: 1024px;
  z-index: 2;
}


.sec-packages{
  width: 100%;
  padding: 50px 0;
}

.main_cabinet{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_cabinet .sec-packages{
  padding: 0!important;
}
.packages_container{
  width:100%;
  padding: 10px;
}
.package_wrap{
  width: 33.3%;
  padding: 15px;
  position: relative;
  flex-grow: 1;
}


.package_card{
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.03);
  display:flex;
  flex-direction: column;
}


.distac{
  height:0;
  width: 110px;
  color:#fff;
  z-index: 1;
  position: absolute;
  border-bottom: 25px  red solid;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  left: -10px;
  top: 33px;
  transform: rotate(-45deg);
  font-weight:bold;
}

.package_header_container, .card_header_container{
  position: relative;
  -webkit-clip-path: polygon( 0 0, 61% 0,21% 100%, 0 100%);
  clip-path: polygon( 0 0, 100% 0, 70% 100%, 0 100%);
}
.package_card img{
  width: 100%;
  height: 100%;
  max-height:130px;
  display: block;
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
}
.pakage_header_details{
  padding: 15px;
  position: relative;
  width:150px;
  min-width: 130px;
  align-items:center ;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card_header_details{
  align-items: left!important;
}

.package_card .amount{
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--main-color);
  margin:0;
  line-height: 1;
  
}
.package_card .amount span{
  font-size: 0.9rem;
}
.pakage_header_details h3{
  padding:0 0 9px 0;
}
.pakage_header_details p, .card_header_details p{
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--s-color);
}
.pakage_header_details p{
  text-align: center;
  flex-grow: 1;
}
.package_body{
  padding: 15px;
  color: var(--s-color);
}

.package_body p{
  font-weight: 500;
}
.package_body span{
  font-size: 0.7rem;
}
.package_card button{
  margin-top:20px ;
  font-weight: 400;
  align-self: flex-end;
}
.package_card button i{
  margin-left: 10px;
}



@media screen and (max-width:768px){
  .package_wrap{
    width: 100%;
  }
}


.card_header_details{
  padding: 0 15px;
}
.card_header_container .avatar img, .card_header_container .avatar div{
  width:90px;
  height: 90px;
  min-width: 90px;
  font-size: 2rem!important;
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
}
.card_header_details h5{
  margin: 15px 0 5px 0;
}
.card_header_details .card_stars{
  margin-left: -10px;
  color: var(--s-color);
}
.card_stars i{
  margin: 0 2px;
  color: var(--s-color);
}
.card_stars .filled{
  color: var(--secondary-color)!important;
}
.card_header_details p{
  margin-top: 10px;
  margin-left: -14px;
}
.card_body p{
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--s-color);
  flex-grow: 1;
  word-break: break-word;
}
.card_body{
  padding: 20px;
}
.line-clamp{
  overflow:hidden;
  display:-webkit-box;
  -webkit-line-clamp:5;
  -webkit-box-orient:vertical;
  text-overflow:ellipsis;
  flex-wrap: left;
}
.card_body .a_more{
  width:max-content;
  margin: 0 8px;
  font-size: 0.8rem;
  color: var(--s-color);
}

.card_wrap{
  width: 100%;
  flex-grow:  1;
  padding: 15px;
}
.card_wrap .package_card{
  height: 100%;
}

@media screen and (min-width:768px){
  .card_wrap{
    width: 50%;
  }
}
@media screen and (min-width:1024px){
  .card_wrap{
    width: 33.3%;
  }
}




.sec-features{
  padding: 30px 0;
  background: #fff;
}
.features-header{
    padding: 15px 30px;
}
.features-header .title {
  font-size: 22px;
  margin: 10px 0;
  line-height: 1.4;
  font-weight: 600;
}
.features-header span{
  color: var(--main-color);
} 
.features-paragraph{
    font-weight: 400;
    color: var(--s-color);
    line-height: 1.6;
    font-size: 16px;
}


.features_dots_header, .features_dots_bottom{
  position: absolute;
  z-index: 1;
  width: 70px;
}
.features_dots_header{
  right: 10px;
  margin-top: -20px;
  align-self: flex-start;
}

.features_dots_bottom{
  align-self: flex-end;
  left: 10px;
  margin-bottom: -20px;
}

.features_dots_header div, .features_dots_bottom div{
  width: 12px;
  height:12px;
  min-width: 12px;
  margin: 2px;
  z-index: 0;
  min-height: 12px;
  box-shadow:0 0 2px 2px RGBA(129,117,254,0.10) inset;
  background:RGBA(129,117,254,0.05);
}

.features-card{
  display: flex;
  padding: 25px;
  width: 100%;
  flex-grow:1;
} 
.features-icon{
  min-width: 40px;
  height:40px;
  margin: 15px 5px;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 0 0 10px rgba(var(--main-color-rgba),0.30);
}



.features-text{
  margin-left:20px;
}
.features-text p{
  margin: 10px 0;
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--s-color);
}


@media screen and (min-width:768px){
    .features-card{
        width: 50%;
    }

    .features-package_header_container{
        padding:0;
    }
    .features-header{
        text-align: center;
    }
}


.communityCard{
    background: RGBA(var(--main-color-rgba),0.10);
}    

.sec-community .title span{
  color: var(--main-color);
}
.sec-community .leftContents,.sec-community{
  padding: 25px;
}

.communityBody p{
  margin: 10px 0;
  font-size: 16px;
  color: var(--s-color);
  line-height: 1.6;
}
.communityCard .btns{
  margin-top: 15px;
  padding: 12px 20px!important;
  max-width: max-content!important;
}


.sec-community .rightContents{
  width: 250px;
  height: 250px;
  display: none;
  align-items: right;
  justify-content:flex-end;
}

.sec-community .container{
  width: 100%;
  height: 100%;
  transition: 0.5s; 
}


@media screen and (min-width:768px){
 .sec-community .leftContents{
     width:65%;
 }
 .sec-community .rightContents{
     display:flex;
     width: 35%;
 }
 .communityCard{
     display: flex;
     justify-content: space-between;
 }
}


.footer{
  background: #1e1e23;
  color: #fff;
  flex-direction: column;
}
.footer-container{
  padding: 25px;
  max-width:1024px;
  width: 100%;
}

.footer-slogan{
  font-size: .9rem;
  font-weight: 500;
  color: #ccd;
}
.footer-logo-wrap{
  padding:10px 25px  15px 0;
  display: flex;
  align-items:center;
}

.footer-middle-contents{
  display: flex;
  flex-wrap: wrap;
}
.footer-wrap{
  width: 50%;
  padding:5px 0;
}
.footer-wrap-last{
  padding:5px 0;
  width: 100%;
}

.footer-logo{
  font-size: 18px;
  color:#fff;
  font-weight: 600;
  font-family: Sans-Serif;
  margin-bottom: -6px;
}

.footer-logo span{
  color: #fff;
}

.div-newsletter{
  padding: 20px 0 0 0;
}
.div-newsletter button{
  margin-top: 15px;
}
.footer-language-selected{
  border: 1.2px var(--border) solid;
  padding: 10px 15px;
  margin-left: 10px;
  width: 160px;
  min-width: 160px;
  transition: 0.3s;
  user-select: none;
  font-size: 0.9rem;
  -webkit-user-select: none;
}
.footer-language-selected,
.footer-language-menu,
.input_radio_menu,
.scrollToTop,.toast,
.m_payments_gateways,.g_warning,
.i_card_link,
.transaction_action_wrap,
.selection_card,
.warning_wrap, .warning_important_wrap,
.error .icon:before,.nav-btn div{
  border-radius:4px ;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.footer-language-selected p{
  margin-left: 15px;
}
.footer-language-menu{
  background: #1e1e23;
  margin-left:-15px;
  margin-top:-140px;
  color: #fff;
  width: 160px;
  position:absolute;
  display:none;
  padding: 10px 0;
  font-size: 0.9rem;
  z-index: 100;
  transition: 0.3s;
  border:1px var(--border) solid;
}

.footer-language-menu:before {
  content:"";
  background: #1e1e23;
  height:10px;
  width:10px;
  right:18px;
  bottom: -6px;
  position:absolute;
  border-style:solid;
  border-color:var(--border);
  transform:rotate(45deg);
}

.footer-language-menu:before{
  border-width:0 1px 1px 0;
}
.active.footer-language-selected .footer-language-menu{
  display: inline;
}
.active.footer-language-selected .arrow{
  transform: rotate(180deg);
}
.arrow{
  transition: 0.3s;
  margin-left:10px ;
}


.langCard > label >div{
  padding:6px 18px;
  user-select: none;
}
.footer-language-menu .input_radio_menu{
  margin-right: 15px;
}
.input_radio_menu{
  min-height: 16px;
  min-width: 16px;
  max-width: 16px;
  max-height: 16px;
  margin-top: 5px;
  margin-right: 14px;
  background-color: transparent;
  border: none;
  cursor: n-resize;
  transition: all 0.3s ease;
}
input[type="checkbox"], input[type="radio"]{
  -webkit-appearance: none;
  cursor: n-resize;
  outline: none;
}

.input_radio_menu:checked:before{
  content: "";
  display: block;
  position: relative;
  top: 0px;
  left: 5px;
  width: 5px;
  height: 15px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: var(--main-color);
  transform: rotate(40deg);
} 
.footer-social-medias a{
  text-decoration: none;
  color: #f1f1f1;
  font-size: 20px;
  margin-right: 25px;
  margin-top: 20px; 
}
    
.footer-social-medias{
  margin: 10px 0;
}
.footer-title{
  font-weight: 600;
  font-size: 1.1rem;
  margin: 20px 0;
  font-family: Sans-Serif;
}
.footer-footer-links{
  color: #fff;
  text-decoration: none;
}
.footer-links{
  margin: 10px 0;
  font-size: 0.9rem;
  color: #ccd;
  font-weight: 500;
  word-break: break-word;
}
.footer-links:hover, .active .footer-links{
  color: var(--main-color);
}    
.footer-copyrigth_card{
  padding:20px 25px;
  max-width: 1024px;
  width: 100%;
  align-items: center;
  -webkit-align-items:center;
  color: rgba(255,255,255,0.54);
}
.footer-copyrigth_card a{
  font-weight: 500;
}
.footer-copyrigths{
  width:100%;
  border-top: 1px var(--border) solid;
}
.main_cabinet .footer-copyrigths{
  background: #fff;
}
.main_cabinet .footer-copyrigth_card{
  color:var(--s-color)!important;
}

.footer-copyrigths a{
  color: currentColor;
}


@media screen and (min-width:500px){
  .btnFullWidth{
    max-width:200px;
  }
}   
@media screen and (min-width:764px){
  .footer-container{
    display: flex;
    justify-content:space-around;
    -webkit-justify-content:space-around;
  }    
  .footer-left-contents{width: 34%;
    padding-right: 20px;
  }
  .footer-middle-contents{width:44.7%;}
  .footer-rigth-contents{width: 21.3%;}
}

.sec_404{
  height: 100vh;
}

.content_box_404 h3 {
  font-size: 1.4rem; 
  line-height: 1.2;
  margin-bottom: 10px;
}

.content_box_404{
  padding:0 20px 20px 25px;
  text-align: center;
}
.content_box_404 button{
  width: max-content;
  margin: 20px 0;
}
.content_box_404 p{
  color: var(--s-color);
}

.nav_bottom .nav_bottom_menu .avatar{
  width: 26px!important;
  height: 26px;
  min-width: 26px;
}


.nav_bottom .nav-right-contents .avatar{
  width: 40px!important;
  height: 40px!important;
  min-width: 40px!important;
  font-size: 1.2rem;
}

.nav_bottom .nav-right-